@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&family=Volkhov:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    background: #FCF2DC;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 64px;
}

@media screen and (max-width: 1024px) {
    .container {
        padding: 0 32px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 16px;
    }
}

/* NAV */

nav {
    padding: 24px 0;
    background: #FCF2DC;
    border-bottom: 16px solid #008186;
}

nav .container {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-item {
    margin-right: 24px;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-item a {
    color: #d27643;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.6px;
    text-decoration: none;
}

.nav-brand {
    align-self: center;
}

.nav-brand img {
    height: 40px;
}

.nav-btn {
    margin: auto 0;
    width: 280px;
    text-align: right;
}

.nav-btn a {
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: #fcf2dc;
    padding: 12px 28px;
    background: #d27643;
    letter-spacing: 4px;
}

#nav-menu--open {
    border: none;
    background: none;
    display: none;
}

#nav-menu--open img {
    height: 24px;
}

#menu-list {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -100%;
    width: 320px;
    height: 100%;
    transition: all 0.6s ease 0s;
    list-style: none;
    background: #FCF2DC;
    padding: 20px 16px 32px 32px ;
}

#menu-list.active {
    right: 0;
}

.menu-item:first-child {
    text-align: right;
}

.menu-item:first-child img {
    height: 24px;
}

.menu-item {
    margin-bottom: 36px;
}

.menu-item a {
    color: #d27643;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.6px;
    text-decoration: none;
}

.menu-item:last-child {
    margin-bottom: 0;
    width: 100%;
}

.menu-item:last-child a {
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: #fcf2dc;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 12px 28px;
    background: #d27643;
    letter-spacing: 4px;
}

@media screen and (max-width: 1024px) {
    .nav-list {
        order: 2;
    }

    .nav-brand {
        order: 1;
    }

    .nav-btn {
        order: 3;
        width: auto;
    }
}

@media screen and (max-width: 768px) {
    nav {
        padding: 16px 0;
    }

    .nav-list {
        display: none;
    }
    .nav-btn {
        display: none;
    }

    .nav-brand img {
        height: 36px;
    }

    #nav-menu--open {
        display: block;
        order: 2;
    }
}

/* LOGIN */

#guest {
    background: #FCF2DC;
    padding: 48px 0 96px;
}

.guest-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 96px;
}

.guest-header h6 {
    font-size: 16px;
    letter-spacing: 8px;
    color: #d27643;
    margin-bottom: 2px;
}

.guest-header h2 {
    font-size: 48px;
    font-family: 'Volkhov', serif;
    letter-spacing: 4px;
    color: #734E3A;
}

.guest-header-right a {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    color: #d27643;
    border-bottom: 2px solid #d27643;
    margin-left: 8px;
    padding-bottom: 2px;
}
