@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&family=Volkhov:wght@400;700&display=swap');

* {
    font-family: 'Raleway', sans-serif !important;
    transition: all 0.3s ease-in-out;
}

body {
    background: #FCF2DC;
}

/* NAV */

nav {
    border-bottom: 16px solid #008186;  
}

.nav-brand img {
    height: 40px;
}

.nav-btn {
    width: auto;
}

@media (min-width: 992px) { 
    .nav-btn {
        width: 267.25px;
    }
}

#nav-menu--open img {
    height: 24px;
}

#menu-list {
    top: 0;
    right: -320px;
    width: 320px;
    height: 100%;
}

#menu-list.active {
    right: 0;
}

#nav-menu--close img {
    height: 24px;
}

/* LOGIN */

.login-form, .login-body .form-group {
    width: 100%;
}

@media (min-width: 576px) { 
    .login-form, .login-body .form-group {
        width: 320px;
    }
 }

/* COMPONENT */

.bg-primary {
    background: #fcf2dc !important;
}

.text-primary {
    color: #d27643 !important;
}

a.text-primary:hover {
    color: #734E3A !important;
}

.text-secondary {
    color: #734E3A !important;
}

.btn {
    font-weight: 700;
    background: transparent;  
    border: none;
    padding: 8px 32px;
    font-size: 14px;
    border-radius: 0;
}

.btn-lg {
    padding: 12px 48px;
    font-size: 16px;
}

.btn-primary {
    color: #fcf2dc !important;
    background-color: #d27643 !important;
}

.form-control {
    border-bottom: 2px solid #734E3A !important;
    font-size: 18px;
}

.form-control:focus {
    box-shadow: none !important;
}

/* NEW */

.text-type-secondary {
    font-family: 'Volkhov', serif !important;
}

.spacing-1 {
    letter-spacing: 2px !important;
}

.spacing-2 {
    letter-spacing: 4px !important;
}

.spacing-3 {
    letter-spacing: 6px !important;
}

.spacing-4 {
    letter-spacing: 8px !important;
}